<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AuthResponse</key>
	<dict>
		<key>AccountNumber</key>
		<string>8352306040545533</string>
		<key>Expiration</key>
		<integer>1447531105213</integer>
		<key>ExpirationCookie</key>
		<string>Sat, 14 Nov 2015 19:58:25 UTC</string>
		<key>Fullname</key>
		<string>michudatest@charter.net</string>
		<key>IssueDate</key>
		<integer>0</integer>
		<key>Token</key>
		<string>907571be-06d2-4a84-9a03-77a8d619c964</string>
		<key>Username</key>
		<string>michudatest@charter.net</string>
		<key>ZipCode</key>
		<string>55124</string>
	</dict>
</dict>
</plist>
