<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Dionysus Watch App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Dionysus.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>DionysusX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>186ACC8E1A0C491800512F12</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>186ACCA31A0C491800512F12</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18840AB61A16C4F30066119C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>188A25791A1D17E2002C8AE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
