<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Devices</key>
	<dict>
		<key>AccountId</key>
		<string>8352306040545533</string>
		<key>Device</key>
		<array>
			<dict>
				<key>Alias</key>
				<string>Basement-Sling test</string>
				<key>CompanionCapabilities</key>
				<dict>
					<key>CompanionCapability</key>
					<array>
						<string>CanInform</string>
						<string>CanPlayLive</string>
						<string>CanPlayVOD</string>
						<string>CanRecord</string>
					</array>
				</dict>
				<key>DVR</key>
				<string>true</string>
				<key>DefaultDevice</key>
				<string>true</string>
				<key>EBIFEnabled</key>
				<string>true</string>
				<key>HD</key>
				<string>true</string>
				<key>MacAddress</key>
				<string>000004A8C1BE</string>
				<key>Make</key>
				<string></string>
				<key>Model</key>
				<string>DCX3510M</string>
				<key>RecordingDaysAhead</key>
				<string>0</string>
				<key>SerialNumber</key>
				<string>MA1304ERH807</string>
			</dict>
			<dict>
				<key>Alias</key>
				<string>Bed12</string>
				<key>CompanionCapabilities</key>
				<dict>
					<key>CompanionCapability</key>
					<array>
						<string>CanInform</string>
						<string>CanPlayLive</string>
						<string>CanPlayVOD</string>
						<string>CanRecord</string>
					</array>
				</dict>
				<key>DVR</key>
				<string>true</string>
				<key>DefaultDevice</key>
				<string>false</string>
				<key>EBIFEnabled</key>
				<string>true</string>
				<key>HD</key>
				<string>true</string>
				<key>MacAddress</key>
				<string>000004A8BE3F</string>
				<key>Make</key>
				<string></string>
				<key>Model</key>
				<string>DCX3510M</string>
				<key>RecordingDaysAhead</key>
				<string>0</string>
				<key>SerialNumber</key>
				<string>MA1304EWI362</string>
			</dict>
			<dict>
				<key>Alias</key>
				<string>first test</string>
				<key>CompanionCapabilities</key>
				<dict>
					<key>CompanionCapability</key>
					<array>
						<string>CanInform</string>
						<string>CanPlayLive</string>
						<string>CanPlayVOD</string>
					</array>
				</dict>
				<key>DVR</key>
				<string>false</string>
				<key>DefaultDevice</key>
				<string>false</string>
				<key>EBIFEnabled</key>
				<string>true</string>
				<key>HD</key>
				<string>true</string>
				<key>MacAddress</key>
				<string>0000073BACCC</string>
				<key>Make</key>
				<string></string>
				<key>Model</key>
				<string>DCX3220E</string>
				<key>RecordingDaysAhead</key>
				<string>0</string>
				<key>SerialNumber</key>
				<string>M11335TE1997</string>
			</dict>
			<dict>
				<key>Alias</key>
				<string>Living Room DVR</string>
				<key>CompanionCapabilities</key>
				<dict>
					<key>CompanionCapability</key>
					<array>
						<string>CanInform</string>
						<string>CanPlayLive</string>
						<string>CanPlayVOD</string>
						<string>CanRecord</string>
					</array>
				</dict>
				<key>DVR</key>
				<string>true</string>
				<key>DefaultDevice</key>
				<string>false</string>
				<key>EBIFEnabled</key>
				<string>true</string>
				<key>HD</key>
				<string>true</string>
				<key>MacAddress</key>
				<string>000004A8C42B</string>
				<key>Make</key>
				<string></string>
				<key>Model</key>
				<string>DCX3510M</string>
				<key>RecordingDaysAhead</key>
				<string>0</string>
				<key>SerialNumber</key>
				<string>MA1304ETH385</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
